
.accessibility-mode .accordion-button:not(.collapsed){
  font-size: 1.25em !important;

}

.accessibility-mode .navbar,
.accessibility-mode .dropdown-menu,
.accessibility-mode .card,
.accessibility-mode .accordion,
.accessibility-mode .accordion-button,
.accessibility-mode .accordion-body,
.accessibility-mode .newsletter,
.accessibility-mode .faq,
.accessibility-mode .alert,
.accessibility-mode .form-control,
.accessibility-mode .modal-content,
.accessibility-mode .footer {

  font-size: 1.25em !important;
}


.accessibility-mode .footer,
.accessibility-mode .footer p,
.accessibility-mode .footer a,
.accessibility-mode .footer span,
.accessibility-mode .footer li,
.accessibility-mode .footer h4,
.accessibility-mode .footer h5,
.accessibility-mode .footer h6 {
  font-size: 1.25em !important;
}